.products{
	width: 200px;
}

.admin_products_imgs {
	width:50%;
}

.delete_card_btn_link {
	text-decoration: none;
	color: white;
}

.edit_btn_link {
	text-decoration: none;
	color: white;
}

.navbar-h1 {
	color: #777;

}

.navbar-default .navbar-nav > li > a {
	   margin-top: 10px;
}

