.products{
	width: 170px;
}
.card-desc-main-img {
    margin: -48px 0px 10px 25px;
    max-height: 400px;
    overflow: hidden;
}
#card_description {
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
}
#image {
display: inline-block;
}
#mini {
  margin: 20px;
  width: 100px;
}
.mini_logo {
  width: 50px;
  display: inline-block;
}
.padding_left{
	padding-left: 40px;
}
.top {
  position: absolute;
  top: 0;
  z-index: 1;
  transform: rotate(-20deg);
}
.middle {
  position: absolute;
  top: 0;
  z-index: 1;
}
.bottom {
  position: absolute;
  top: 0;
  z-index: 1;
  transform: rotate(20deg);
}
.nav_header_text{
	display: inline-block;
	font-size: 3em;
}
.admin_products_imgs {
	width:50%;
}
.delete_card_btn_link {
	text-decoration: none;
	color: white;
}
.edit_btn_link {
	text-decoration: none;
	color: white;
}

.navbar-default .navbar-nav > li > a {
	   margin-top: 10px;
}
#cart-ol {
	   line-height: 69px;
}
#continue-shopping-btn {
	text-decoration: none;
	color: white;
}
.green {
	background-color: #4DFA90;
	border-radius: 10px;
	text-align: center;
}
.yellow {
	background-color: #FABE4D;
	border-radius: 10px;
	text-align: center;
}
.red {
	background-color: #FF5468;
	border-radius: 10px;
    text-align: center;
}
#trashGlyph {
  float: right;
}

body {
	background-image: url("/assets/cloth_alike.png");
	background-repeat: repeat;
}

.style-header {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("/assets/cloth_alike.png");
	background-repeat: repeat;
}

.side-nav {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("/assets/cloth_alike.png");
	background-repeat: repeat;
}
 .cart-head {
 	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/assets/cloth_alike.png");
	background-repeat: repeat;
}

.tbl-head {
 	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/assets/cloth_alike.png");
	background-repeat: repeat;
}